h1 {
 background-color: green;
 max-width: 10px;
}

#picture{
 padding: 1px;
}

.under{
    text-decoration-line: underline;
    padding-top: 2px;
}

#griditem{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1;
    padding: 1px;
}

#gridfooter{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1;
    padding: 2px;
}

footer{
    background-color: green;
    max-width: 5px;
}