h1 {
 background-color: green width;
 max-width: 20px;
}

#picture{
 padding: 1px;
}

.under{
    text-decoration-line: underline;
    padding-top: 2px;
}

#griditem{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1;
    padding: 1px;
}